*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: palevioletred ;
}

.container{
    max-width: 1440px;
    margin: auto;
    width: 80%;
    position: relative;
}

.bg-purple{
    background-color: purple;
}

.bg-red{
    background-color: red;
}

/*Main*/
.grid{
    width: 904px;
    aspect-ratio: 1/1;
    display: flex;
    flex-wrap: wrap;
    border: solid 2px white;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    

    > div {
        width: 90px;
        aspect-ratio: 1 / 1;
        border: solid 2px white;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

span{
    border: red solid 2px;
    background-color: black;
    color: red;
    position: absolute;
    left: 50%;
}